<div class="fila">
    <div class="escudo">
        <h4>Escudo</h4>
    </div>
    <div class="codigo">
        <h4>Código</h4>
    </div>
    <div class="nombre">
        <h4>Nombre</h4>
    </div>
</div>
<div class="fila">
    <div class="escudo">
        <img src="" alt="escudo">
    </div>
    <div class="codigo">
        <p>Código</p>
    </div>
    <div class="nombre">
        <p>Nombre</p>
    </div>
</div>
<div *ngFor="" class="fila">
    <div class="escudo">
        <img src="" alt="escudo">
    </div>
    <div class="codigo">
        <p>Código</p>
    </div>
    <div class="nombre">
        <p>Nombre</p>
    </div>
</div>