<form name="buscarEquipos">
    <div class="inputNombre">
        <label for="barraBusqueda">Nombre del equipo: </label>
        <input type="text" id="barraBusqueda" name="barraBusqueda" placeholder="Introduce el nombre">
    </div>
    <div class="inputLiga">
        <label for="elegirLiga">Seleccionar liga: </label>
        <select id="elegirLiga" name="elegirLiga">
            <option value="">Liga Santander</option>
            <option value="">Premier League</option>
        </select>
    </div>
</form>